.qual {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: auto;
    margin-top: 50px;
}

.prj-heading {
    text-align: center;
    font-size: 3rem;
    color: var(--yellow);
    margin: 0;
}

.project-container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 1fr 1fr;
}

.project-container a {
    background-color: rgba(255, 255, 255, 0.05);
    text-decoration: none;
    transition: 0.3s ease;
    margin: 10px;
    opacity: 0;
}

.project-container-opac a {
    opacity: 1;
}

.project-container a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.project-image {
    width: 240px;
    height: auto;
    margin: 20px 20px 0;
}

.project-name {
    color: var(--white);
    text-align: center;
}

.more-project {
    text-decoration: none;
    color: var(--white);
    margin-left: 20px;
}

@media (min-width: 1200px) {
    .qual {
        grid-template-columns: 3fr 1fr;
    }

    .project-container {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 1fr 1fr;
    }
    
}

@media (max-width: 700px) {
    .qual {
        grid-template-columns: 1fr;
    }
    
    .project-container {
        grid-template-columns: 1fr;
        place-items: center;
    }
}