@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&family=Roboto+Slab&family=Roboto:wght@300&display=swap');

:root {
    --yellow: #ffff00;
    --cyan: #00fff2;
    --dark-purple: #00002C;
    --white: #ffffff;
    --black: #000;
    --red: #ff0077;
    --orange: #e44d26;
    --blue: #264de4;
    --green: #37ff51;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--dark-purple);
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

@media (max-width: 550px) {
    body {
        margin: 0 16px;
    }
}

.container-top {
    height: 13vh;
    position: relative;
    display: flex;
    align-items: center;
    
}

.container-top-align {
    width: 100%;
    margin: 0 16px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 550px) {
    .container-top-align {
        margin: 0;
    }
}

.icons-container {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    grid-column-gap: 20px ;
}

.icons-container li {
    list-style-type: none;
    background-color: var(--white);
    border-radius: 50%;
    height: 40px;
    transition: 0.3s ease;
    transform: translate(5px, 5px);
}

.icons-container img {
    width: 40px;
}

.button {
    background-color: var(--red);
    padding: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    transition: 0.3s ease;
    position: relative;
    overflow: hidden;
    transform: translate(-10px, 5px);
}

.menu-image {
    filter: invert(100%);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
}

.menu-image-two {
    opacity: 0;
}

.menu-img-op-zero {
    opacity: 0;
}

.menu-img-op-one {
    opacity: 1;
}

.icon-mail:hover img, .icon-github:hover img, .icon-linkedin:hover img, .icon-info:hover img {
    filter: invert(100%);
}

.icon-mail:hover {
    background-color: transparent;
    background-image: linear-gradient(to bottom right, #3e65cf, #c71610, #f2a60c, #3b60c4, #08851b);
    box-shadow: 0 0 20px #3e65cf, 0 0 20px #c71610, 0 0 20px #f2a60c, 0 0 20px #3b60c4, 0 0 20px #08851b;
    transform: translate(5px, 0px);
}

.icon-github:hover {
    background-color: transparent;
    background-color: var(--dark-purple);
    box-shadow: 0 0 20px var(--white), 0 0 20px var(--white), 0 0 20px var(--white);
    transform: translate(5px, 0px);
}

.icon-linkedin:hover {
    background-color: transparent;
    background-color: var(--blue);
    box-shadow: 0 0 20px var(--blue), 0 0 20px var(--blue), 0 0 20px var(--white);
    transform: translate(5px, 0px);
}

.icon-info:hover {
    background-color: transparent;
    background-image: linear-gradient(to right bottom, var(--green), var(--blue), var(--red), var(--cyan));
    box-shadow: 0 0 20px var(--green), 0 0 20px var(--blue), 0 0 20px var(--red), 0 0 20px var(--cyan);
    transform: translate(5px, 0px);
}

.container-content {
    height: 76vh;
    width: 100%;
    scroll-behavior: smooth;
    position: relative;
    background-color: var(--dark-purple);
    z-index: -999;
    overflow: hidden;
}

.basic-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: image 1s 1 ease-in-out;
}

@keyframes image {
    0% {
        transform: rotate(-360deg);
        left: -100%;
    }
    100% {
        transform: rotate(0deg);
        left: 0%;
    }
}

#user {
    background-color: var(--yellow);
    border-radius: 50%;
    width: 220px;
    height: 220px;
}

@media (max-width: 650px) {
    .basic-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }
}

.intro-align-container {
    position: relative;
}

.intro-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.intro-container {
    font-weight: bolder;
    font-size: 32px;
    color: var(--yellow);
}

#color {
    color: var(--cyan);
}

.intro-text {
    display: inline;
    position: relative;
}

.intro-text::after {
    content: "";
    position: absolute;
    height: 31px;
    width: 3px;
    background-color: #CCCCCC;
    bottom: 5px;
    right: -9px;
    animation: 1s focus infinite linear;
}

@keyframes focus {
    50% {opacity: 0%;}
}

/*content*/

.parallex {
    height: 100px;
    margin-bottom: 0;
    background-image: linear-gradient(transparent, var(--dark-purple));
}

.skill-container {
    height: 100vh;
    width: 100%;
    background-color: var(--dark-purple);
    position: relative;
    z-index: 999;
    overflow: hidden;
}

.skill-heading {
    text-align: center;
    font-size: 5rem;
    color: var(--yellow);
    height: 20vh;
    margin: 0;
}

.skill-name {
    position: relative;
}

.vertical-line {
    height: 0vh;
    width: 2px;
    background-color: var(--yellow);
    position: absolute;
    left: 50%;
    transition: 1s linear;
}

.skill-name img {
    width: 60px;
    height: auto;
}

.skill-align-right {
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    transition: 1s ease-in-out;
    position: relative;
    left: 10%;
}

.skill-align-container {
    width: 50%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.skill-align-left {
    position: relative;
    right: 10%;
    opacity: 0;
    transition: 1s ease-in-out;
}

.skill-left-set {
    right: 0%;
    opacity: 1;
}

.skill-right-set {
    left: 0%;
    opacity: 1;
}

.html, .css, .js, .git {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 100px;
    font-size: 48px;
    font-weight: 600;
    border-radius: 5px;
}

.html::after, .css::after, .js::after, .git::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    background-color: var(--yellow);
}

.html::after, .js::after {
    right: 0;
}

.css::after, .git::after {
    left: 0;
}

.html {
    background-color: var(--orange);
    color: var(--white);
}


.css {
    background-color: var(--blue);
    color: var(--white);
}

.js {
    background-color: #fdd83c;
    color: var(--black);
}

.git {
    background-color: var(--white);
}

@media (max-width: 550px) {
    .html, .css, .js, .git {
        width: 90%;
        height: 60px;
        font-size: 24px;
    }

    .html, .js {
        margin-right: 10%;
    }

    .css, .git {
        margin-left: 10%;
    }

    .skill-name img {
        width: 30px;
    }

    .html::after, .css::after, .js::after, .git::after {
        width: 10%;
    }
}
