html
{
    font-size: 16px;
}

body
{
    font-family: 'Sometype Mono', monospace;
    background-color: rgba(0, 0, 0, 1);
    margin: 0;
}

.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container
{
    border: 1px solid white;
    padding: 10px;
}

.display
{
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: 290px;
    margin-bottom: 20px;
    position: relative;
}

.display::before
{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    height: 1px;
    width: 100%;
    transform: scale(0);
    transition: 1.5s ease; 
}

.display::after
{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
    height: 1px;
    width: 100%;
    transform: scale(0);
    transition: 1.5s ease;
}

.container:hover .display::after, .container:hover .display::before
{
    transform: scale(1);
}

#screen
{
    padding: 16px;
    text-align: right;
    font-size: 2rem;
    background-color: transparent;
    color: white;
    border: none;
}

#screen:focus
{
    outline: none;
    border: none;
}

.button
{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-gap: 10px 10px;
}

#input
{
    font-size: 1.5rem;
}

#input:last-child 
{
    grid-column: span;
}

.additionalCss 
{
    background-color: darkslategrey;
    color: white;
    border-radius: 4px;
    outline: none;
    border: none;
}

.additionalCss:hover
{
    background-color: rgba(47, 79, 79, 0.95);
}

.additionalCss:active
{
    background-color: rgba(47, 79, 79, 0.85);
}

.operatorCss
{
    background-color: rgb(255, 30, 30);
    color: white;
    border-radius: 4px;
    outline: none;
    border: none;
}

.operatorCss:hover
{
    background-color: rgba(255, 30, 30, 0.95);
}

.operatorCss:active
{
    background-color: rgba(255, 30, 30, 0.85);
}

.removeCss 
{
    background-color: chocolate;
    color: white;
    border-radius: 4px;
    outline: none;
    border: none;
}

.removeCss:hover
{
    background-color: rgba(210, 105, 30, 0.95);
}

.removeCss:active
{
    background-color: rgba(210, 105, 30, 0.85);
}

